:root {
  /*  Text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  /* Gradient */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  /* Neutral Text  */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  /* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
  /* fonts */
  --ff-sans: "Kumbh Sans", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-size: 12px;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue))
    no-repeat;
}
main {
  display: flex;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
@media (max-height: 578px) {
  main {
    align-items: flex-end;
  }
}
.card-cont {
  max-width: 350px;
  font-family: var(--ff-sans);
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 8em 1.75em 1em;
  display: flex;
  flex-direction: column;
  position: relative;
}
.desk-img-cont,
.box-img {
  display: none;
}
.img-cont {
  position: absolute;
  top: -54%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: min(90%, 250px);
  filter: drop-shadow(0 2em 0 hsl(--Light-grayish-blue));
}
.info-title {
  text-align: center;
  color: var(--Very-dark-desaturated-blue);
}
.question-cont {
  height: 270px;
  position: relative;
  z-index: 9;
}
.question {
  font-size: 1em;
  color: var(--Very-dark-desaturated-blue);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  user-select: none;
  margin-block: 15px;
  cursor: pointer;
}
@media (hover: hover) {
  .question:hover {
    color: var(--Soft-red);
  }
  .question--active:hover {
    color: #000;
  }
}
.question--active {
  font-weight: 900;
  color: #000;
}
.arrow {
  user-select: none;
  transition: none;
  transform: none;
  cursor: pointer;
  color: darkorange;
}
.rotate-arrow {
  transition: transform 350ms ease;
  transform: rotateX(180deg);
}
.answer {
  max-height: 0;
  color: var(--Dark-grayish-blue);
  overflow: hidden;
  border-bottom: 1px solid var(--Light-grayish-blue);
}
.show-anser {
  padding: 0 0 1rem 0;
  transition: max-height 0.75s ease-in, padding 0.1s ease-in;
  max-height: 500px;
}
@media (min-width: 768px) {
  body {
    z-index: 999;
    position: relative;
  }
  main {
    padding: 0;
    width: 100%;
    max-width: 1000px;
    position: relative;
  }
  .card-cont {
    max-width: 900px;
    min-width: 768px;
    align-items: flex-end;
    left: 0;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 108%;
    background-position: -600px -300px;
    padding: 4rem 2rem;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
  .info-title {
    text-align: left;
    font-size: 2.5em;
  }
  .img-cont {
    display: none;
  }
  .question {
    font-size: 1.1em;
  }
  .box-img {
    display: block;
    position: absolute;
    z-index: 99;
    width: 20%;
    top: 160px;
    left: -45px;
  }
  .desk-img-cont {
    z-index: 1;
    align-self: stretch;
    display: block;
    position: relative;
    transform: translateX(-100px);
    width: 80%;
  }
}
